/* navbar */
.list-group {
  display: none;
}
.show {
  display: block; /* css파일은 하단에 적을 수록 우선 적용 */
}
.dark {
  background-color: black;
  color: white;
}

/* modal */
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden; /* 애니메이션 만들 때 display: none 대용 */
  opacity: 0;
  transition: all 1s;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
.show-modal {
  visibility: visible; /* 애니메이션 만들 때 display: block 대용 */
  opacity: 1;
}
