.img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: skyblue;
  border-radius: 7px;
  box-shadow: 5px 5px black;
}

.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 100px;
  background: powderblue;
}

.left {
  width: 30%;
  height: 400px;
  background: skyblue;
  display: inline-block;
  vertical-align: top;
}

.right {
  width: 70%;
  height: 400px;
  background: coral;
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
}
