div {
  box-sizing : border-box;
}

body {
  margin : 0;
}

html {
  line-height : 1.15; /*기본 행간 높이*/
}

.main-background {
  width: 100%;
  height: 520px;
  background-image: url(../img/series.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
}

.main-title { 
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

ul {
  font-size: 30px;
  list-style: none;
  color: white;
  min-width: 540px;
}

li {
  margin: 30px;
}

a {
  text-decoration: none; 
  color: black; 
}

img {
  width: 100px;
}

button {
  padding: 10px;
  font-size: 5px;
  background: white;
  border: none;
  border-radius: 15px;
}

.etc {
  width : 400px;
  margin: auto;
  background-color: #eee;
  padding: 5px 10px;
  position : relative; 
  bottom: 40px; /* top: -40px */
  text-align: center; 
}