div {
  box-sizing : border-box;
}

body {
  margin : 0;
}

html {
  line-height : 1.15; /*기본 행간 높이*/
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  float: left;
}

.profile {
  margin-top: 10px;
}

.profile-img {
  width: 50px;
  border-radius: 100%;
  float: left;
}

.profile-name {
  float: left;
}

.text {
  clear: both;
  padding: 1px;
}

p {
  color: grey;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: powderblue;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;  
}

a:visited {
  color : black;
}