td, th {
  border-bottom: 1px solid black;
  vertical-align : middle;
  text-align: center;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.background {
  background-color: skyblue;
  padding: 30px;
  width: 600px;
  height: 400px;  
  margin: 20px auto;
}

h2 {
  color: navy;
  font-weight: 350; 
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sum {
  text-align: right;
  border-bottom: none;
}