body {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: pink;
  color: #222;
  padding: 10px;
  margin: auto;
}

.left {
  font-size: 50px;
  font-weight: 500;
}

.right {
  font-size: 30px; 
}
  