div {
  box-sizing : border-box;
}

body {
  background: gray;
  margin : 0;
}

input {
  box-sizing: border-box;
}

.container {  
  width: 400px;
  height: 450px;
  background: white;
  margin: 20px auto;
  padding: 30px;
}

h2 {
  margin-top: 0px;
}

p {
  margin-bottom: 5px;
}

.input-email {
  width: 100%;
  height: 35px;
  padding: 10px;  
}

.name {
  display: flex;
  justify-content: space-between;
}

.input-name {
  width: 160px;
  height: 35px;
}

.input-message {
  width: 100%;
  height: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.input-submit {
  width: 110px;
  height: 30px;
  color: white;
  background: orange;
  border: none;
  border-radius: 5px;
}

