div, input, textarea {
  box-sizing : border-box;
}

body {
  margin: 0px;
}

.form-black {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.w-100 {
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

button {
  padding: 10px;
  display: block;
  margin-left: auto;
}