.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  float: left;
}

.profile {
  margin-top: 10px;
}

.profile-img {
  width: 50px;
  border-radius: 100%;
  float: left;
}

.profile-name {
  float: left;
}

.text {
  clear: both;
  padding: 1px;
}

p {
  color: grey;
}