.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container>div {
  width: 25%;
}

.box {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container>div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container>div {
    width: 100%;
  }
}

